<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Finding Broken Images">
    <test verbose="2" preserve-order="true" name="Detect broken images in Selenium WebDriver">   /* preserve-order true, test will be executed in order */
        <classes>
            <class name="brokenimages.test_brokenimages">
            </class>
        </classes>
    </test>
</suite>
